.product-detail {
  border: 1px solid blue;
  height: 200px;
  width:100%;
  }

.detail-img-wrapper {
  float: left; /*float하면 나머지 부분도 float -> 하위 detail-wrapper*/
  margin-right: 30px;
  width: 150px;

}

.detail-img-wrapper div{
  text-align: center; /*가로 정렬*/
  line-height: 200px; /*세로 정렬*/
  width: 150px;
  height: 200px;
  overflow: hidden;
}

.detail-img {
  max-width: 100%; /*img는 100%으로 맞추고 wrapper에 사이즈를 px로 맞춰주면 이미지가 fix된다.*/
  max-height: 100%;
}

.detail-wrapper {
  max-width:calc(100% - 180px);max-width:-moz-calc(100% - 180px);max-width:-webkit-calc(100% - 180px);
  float: left;
}

.detail-wrapper h1 {
  color: rgba(0, 0, 0, 0.938);
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
}

.detail-wrapper h3 {
  color: #326277;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.review-btn {
  width:90px;
  background-color: #3D5159;
  border-radius: 5px;
  border: 0;
  font-weight: 500;
  line-height: initial;
  padding-bottom: 5px;
  margin-top:20px;
}

.btn-txt {
  font-size: 12px !important;
  color:white !important;
}

.face_detail {
display: flex;
}

.face_detail li {
  font-size: 30px;
  margin:3px;
}
