.review-frame {
    border-radius: 20px;
    background-color:#E8F2F6;
    padding:10px;
    margin-top:15px;
    color: #326277;
    font-weight: 500;
    font-size:13px;
}

.review-title {
    font-weight: 600;
}

.cat-character-img img {
    width: 50px;
    margin-right:20px;
}

.each-user-review {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top:10px;
    padding:15px;
    display: flex;
}

.review-comment {
    background-color: #e4f2f7;
    border-radius: 6px;
    width:250px;
    padding:5px;
    height:60px;
}