.top_bar {
  display: flex;
  height: 50px;
  position: relative;
}

.login {
  display: flex;
}

.topbar-title {
  position: absolute;
  left: 50%;
  padding-top: 5px;
}

.topbar-title h1 {
  color: #326277;
  font-size: 20px;
  font-weight: 700;
}

.login li:first-child {
  margin-right: 10px;
}

footer {
  height: 150px;
}
